body {
    background-color: rgb(32,32,32);
    color: white;
}

/* Highlighting rules for nav menu items */
.main-nav li a {
    color: white;
}
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus,
.main-nav li a:hover {
    background-color: #555;
    color: white;
}

@media (max-width: 767px) {
    .navbar-toggle {
        border-color: white;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        padding-left: 25%;
        padding-right: 25%;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav > li {
        width: 25%;
        text-align: center;
    }
}