body {
    background-color: rgb(32,32,32);
    color: white;
}

/* Highlighting rules for nav menu items */
.main-nav li a {
    color: white;
}
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus,
.main-nav li a:hover {
    background-color: #555;
    color: white;
}

@media (max-width: 767px) {
    .navbar-toggle {
        border-color: white;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }
}

/*
.main-nav {
    font-size: 20px;
}

.main-nav a{
    color: white;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active{
    background-color: rgb(50,50,50);
}*/