body {
    background-color: rgb(32,32,32);
    font-family: 'Open Sans';
    color: white;
}

.main-nav {
    z-index: 1;
}

/* Highlighting rules for nav menu items */
.main-nav li a {
    color: white;
}
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus,
.main-nav li a:hover {
    background-color: #555;
    color: white;
}

@media (max-width: 767px) {
    .navbar-toggle {
        border-color: white;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav > li {
        width: 25%;
        text-align: center;
    }
}

.content {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#welcome {
    position: relative;
    display: block;
    top: 10vh;
}

#welcome img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#welcome p{
    margin-top: 5%;
    font-size: 1.2em;
}

.work-block {
    background-color: lightgray;
    color: black;
    margin-bottom: 1vh;
}

.blog-block {
    background-color: lightgrey;
    color: black;
    margin-bottom: 1vh;
}