@media print {
    body * {visibility: hidden;}
    .charactersheet-area, .charactersheet-area * {visibility: visible;}
    .charactersheet-area {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
    }
}

.container .charactersheet-area {
    width: 1112px !important;
}

.charactersheet-area {
    margin-left: -20%;
    margin-right: -20%;
    overflow: hidden;
}

.charactersheet-area {
    background-color: white;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: black;
}

.charactersheet-area input {
    width: 100%;
}

#pathfinder-logo {
    width: 100%;
}

.black-div {
    display: inline-block;
    background-color: black;
    color: white;
    outline: 1px solid black;
    outline-offset: -1px;
    margin-bottom: 1vh;
    text-align: center;
}
.black-div h4 {
    margin-top: 0;
    margin-bottom: -10px;
}

.black-div label {
    margin-bottom: 0;
}

.character-basics div,
.character-abilities div,
.hp-and-init div,
.armor-class div,
.saves div,
.bab-cmb-cmd div,
.weapons div,
.speed div {
    padding-left: 1%;
    padding-right: 1%;
}

input {
    border: 1px solid black;
}

input[type='number'],
input[type='text'] {
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    border: 1px solid black;
}

label {
    font-size: 0.2em;
    font-weight: normal;
}

.character-basics input{
    font-size: 1.2em;
    border: none;
    text-align: left;
    border-bottom: 1px solid black;
}

.character-basics label {
    font-size: 0.8em;
    font-weight: normal;
}

.character-abilities {
    text-align: center;
}

.character-abilities label {
    margin-bottom: 0;
}

.hp-and-init {
    text-align: center;
}

.hp-and-init textarea {
    width: 100%;
    resize: none;
}

.armor-class {
    text-align: center;
}

.armor-class input[type='text'] {
    text-align: initial;
}

.saves {
    text-align: center;
}

.saves .rows {
    margin-left: -2%;
    margin-right: -2%;
}

.saves .col-xs-8 {
    padding-right: 15px;
    padding-left: 15px;
}

.saves textarea {
    width: 100%;
    height: 135px;
    resize: none;
}

.bab-cmb-cmd {
    text-align: center;
}

.bab-cmb-cmd h4 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.bab-cmb-cmd textarea {
    width: 100%;
    resize: none;
}

.weapons > div {
    margin-bottom: 2vh;
}

.weapons .black-div {
    margin-bottom: 0;
}

.weapons .black-div.ab,
.weapons .black-div.crit {
    top: 6px;
}

.weapons h4, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.weapons .input {
    padding-left: 0;
    padding-right: 0;
}

.weapons .input input {
    text-align: center;
}

.speed,
.speed input {
    text-align: center;
}

.speed .double input {
    width: 40%;
}

.speed input {
    width: 75%;
    float: left;
}

.speed textarea {
    width: 100%;
    height: 75px;
    resize: none;
}

.speed .black-div label {
    float: none;
}

.speed label {
    float: left;
}

#fly-label {
    margin-left: 4%;
    text-align: left;
    float: left;
}
#maneuverability-label {
    margin-right: 5%;
    float: right;
}